.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 10px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {  
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

* {

    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

h1 {

    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 19px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #7135b5;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;

}

h2 {

    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #d2ac66;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;

}

.row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
  }

table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
  }


.centre {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #eee;
    /* display: flex;
    justify-content: center;
    align-items: center; */

    }